@model string
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to the Demo Page</h2>
<h4>@Model.ToUpper()</h4>
<a href="/Demo/Page2" class="btn btn-lg btn-info">Go to page 2</a>
<a href="/Product" class="btn btn-lg btn-info">Go to product page</a>

