
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a href="/Product/ShowSampleProduct" class="btn btn-lg btn-info">Show a sample product</a>
<a href="/Product/ProductList" class="btn btn-lg btn-info">Show a list of products</a>

